@page "/financeiro"

<h3>Index</h3>
<a asp-area="" asp-controller="Financeiros" asp-action="Download"><button class="mb-3 btn-abrir roboto rounded-pill border-0 px-5 py-3 my-5 w-75 " asp-area="" asp-controller="Financeiros" asp-action="Download">ABRIR</button></a>
@code {



}
